#can {
	float: left;
	width:  calc(100% - 300px);
	cursor:  url(../cursor.png), auto;
}
#panel {
	padding:  10px;
	width: 280px;
	height: 100%;
	float: left;
	right:  0;
	background:  #CCCECF;
	position: absolute;
	border-left:  1px solid #B0B0B0;
}

#undo {
	transform: scaleX(-1);
	position: absolute;
	left:  10px;
	top:  30px;
	border:  none;
	background: rgba(255, 0, 0, 0);
	font-size: 30px;
}

*:focus, *:active {
	outline:  none;
}

.btn:focus,.btn:active {
   	outline: none !important;
}

#undo:active {
	font-size:  32px;
}

.button-group {
	bottom:  20px;
	left: 10px;
	position: absolute;
}

.button-group.button {
	display:  inline-block;
}

#execute {
	margin-right: 20px;
}

#clear {
	margin-right:  45px;
}

#upload {
	border: 1px solid black; 
}


.glyphicon-play, .glyphicon-trash {
	margin-right:  5px;
}

#langsWrapper {
	position: absolute;
	bottom:  80px;
	width:  260px;
	right: 10px;
}

#logo {
	font-family:  Montserrat, Helvetica, Droid Sans;
	font-weight:  700;
	font-size:  48px;
	text-align: center;
	color: #499bc9;
	padding-bottom:  20px;
}